
	/* Add font-face for Black Rose */
	/* https://www.dafont.com/black-rose.font */
/*	adding fonts*/
	@font-face{
		font-family:orange;
		src:url("fonts/Orange.otf");
	}
	@font-face{
		font-family:juice;
		src:url("fonts/OrangejusDemo.ttf");
	}

	@font-face{
		font-family:Badly Stamped;
		src:url("fonts/BadlyStamped.ttf");
	}

	@font-face{
		font-family: butter;
		src:url("fonts/butterbrotpapier.ttf");
	}

	@font-face{
		font-family: casa;
		src:url("fonts/Casadeamor.ttf");
	}

	@font-face{
		font-family:three dim;
		src:url("fonts/Threedimensional.ttf");
	}

	@font-face{
		font-family:three dim round;
		src:url("fonts/ThreedimensionalRound.ttf");
	}

	@font-face{
		font-family: three dim right;
		src:url("fonts/ThreeDimRightwards.ttf");
	}

	@font-face{
		font-family: three dim right round;
		src:url("fonts/ThreeDimRightwardsRound");
	}

	@font-face{
		font-family: xero;
		src:url("fonts/xero4.ttf");
	}
		
	/* Add body font-family, Arial and sans-serif */
		body {
			line-height:2;
/*		arial is part of sans-serif	*/
			font-family:arial,sans-serif;
			background-color: #FCE0D5;
			margin:0 auto;
		}

	/* Set a font-family, first Starbucks then Impact, serif for h1 */
	/* Add font-weight and font-size of 35px */
	/* Then change to Black Rose once defined */

/*	h1{*/
/*	fantasy is font safe font-every browser knows fantasy	*/
	/*	font-family: orange, fantasy;
		font-size:71px;
	}*/
	h1{
		font-family: Lora, sans-serif;
		font-size:61px;
		/*color:rgb(0,204,153);
		background:rgba(255,255,255,0.8);
 		margin: 0 auto;*/
		/*margin:30px 250px;
		padding:20px 10px;
		border-radius: 35px 35px 35px 35px;*/
	}
	

	/* Set a font-family of Comic Sans MS for h2 */
	/* Using Google Fonts get link for Abril Fatface */
	/* Change to use Abril Fatface */
/*	h2{*/
/*	this will overwrite the other in body	*/
	/*	font-family:"juice", serif;
	}*/


/*	homework 05 -> height for the row and make classes for the images with their with| or set widths for each image, or set width and height for each images, but the widths cannot exceed the row width. creating thumbanail square then do some overflow hiddens and autoadjust using img 100% that's how you get it to work*/

	h2{
		font-family: Lora, sans-serif;
/*		font-size: 64px;*/
	}
	
		.clearfloat {
			clear: both;
		}
		
		
		#main, #nav {
			width: 720px;
			margin:0 auto;
		}
	
		

		.thumbnail {
			background-color: #CCC;
			margin: 10px;
			width: 220px;
			height: 220px;
			float: left;
			overflow: hidden;		
			/* add relative position */
			position:relative;
		}
		
		/* Style the overlay using absolute and adjusting top,left,right,bottom */

		/* Add the overlay hover effect */
		
		.thumbnail > img {
			width: auto;
			height: 100%;
		}
		.thumbnail > .width-100 {
			width: 100%;
			height: auto;
		}
		.overlay{
/*			50 is 50%*/
			background:#00000070;
			color:white;
			position:absolute;
			top:0px;
			right:0px;
			left:0px;
			bottom:0px;
			text-align: center;
			padding-top:80px;
			visibility:hidden;

		}

		.thumbnail:hover .overlay{
			visibility: visible;
		}


		
		/* Style the #navbar, make fixed, set top left and right to 0 */
		/* Add z-index */
/*		wrapper is the navbar*/
		#navbar{
			background-color:#99D0D3;
			/*position fixed keeps it at the top			*/
			position:fixed;
/*			makes it fixed by using top,left,right*/
			top:0;
			left:0;
			right:0;

/*			higher number than 0 to keep it at the top, to make the images behind sends priority*/
			z-index:2;
/*			border: 3px solid red;*/
			margin:0 auto;
			text-align: center; /*this one is used to center the nav li's display*/
			
		}

		#header{
			background-color: #99D0D3;
			height:150px;
			width:100%;
			position:static;/* meaning it remains at the top of the page but doesn't scroll with the content.*/
			z-index: 1;
			text-align: center;

		}

		/* Style #nav ul, removing bullets and no margins or paddings */
/*		all the uls inside of nav took care of all the nested uls*/
		#nav ul{
/*			by deafault have margins and border*/
			list-style-type: none;
			margin:0;
			padding:0;
		}
		
		/* Style #nav li, make relative, float left and set width and line height and center */
		/* Calculate width 720px / 4 = 180px */
		/* Add background color, same as #navbar */
		#nav li{
			width:170px;
			line-height:50px;
/*			border:1px solid red;*/
/*			display inline-block allows it to later be centered by using textalign:center in navbar*/
			display:inline-block;
			text-align: center;
			background-color: #99D0D3;
			position:relative;
		}

		/* Add #nav li:hover background color of #fc0 */
		#nav li:hover{
			background-color: #bddae0;
			color:red;
		}

		/* Fix the #nav a tag making block instead of inline, remove underline and make white */
		#nav a{
			text-decoration: none;
			color:#2d4140;
			display:block;
			text-align: center;
/*			by default a tags are in line so it's better to use block to get better accesibility when hovering*/
		}
		#nav a:hover{
			background-color: #bddae0;
			color:red;
		}

		#nav .active{
			background-color: #bddae0;
			color:red;
		}

		/* Style #nav ul ul using visibility and absolute */
		/* Adjust the top based on line-height set in #nav li */
/*		the second ul */
		#nav ul ul{
/*			going to be hidden but when hover will be, confused if only absolute, the parent is li*/
			visibility: hidden;
			position:absolute;
		}

		/* Show #nav li:hover > ul */
/*		when hover over where ul going to  visible*/
		#nav li:hover > ul{
			visibility: visible;
		}
		
		/* Set left and top for #nav ul ul ul */
		#nav ul ul ul{
			left:170px;
			top:0px;
		}

		#footer{
			color:black;
			background-size:cover;
			background-color:#99cc99;
			padding:5px;
			text-align: center;
		}

		#footer p{
			font-family:Lora, sans-serif;
			font-size: 17px;
		}


